<a href="https://colab.research.google.com/github/p09323028/2021f_NTU_Econometrics_III/blob/main/Homework/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **經濟實證與預測三_ Homework 1**
**Link:**

**吳金擇, P09323028**

# **E6.2**
Using the data set **Growth** described in Empirical Exercise E4.1, but excluding
the data for Malta, carry out the following exercises.
1. Construct a table that shows the sample mean, standard deviation,
and minimum and maximum values for the series $Growth, TradeShare, YearsSchool, Oil, Rev\_Coups, Assassinations$, and $RGDP60$. Include the
appropriate units for all entries.
2. Run a regression of *Growth* on *TradeShare*, *YearsSchool*, *Rev_Coups*, *Assassinations*, and *RGDP60*. What is the value of the coefficient on *Rev_Coups*? Interpret the value of this coefficient. Is it large or small in
a real-world sense?
3. Use the regression to predict the average annual growth rate for a
country that has average values for all regressors.
4. Repeat (c), but now assume that the country’s value for *TradeShare* is
one standard deviation above the mean.
5. Why is *Oil* omitted from the regression? What would happen if it were
included?
---

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

In [ ]:
!gdown --id '19BX1Ksfn7gCJsQ4vjMbzgz3jj4_sEWq3' --output growth.xlsx

In [ ]:
growth = pd.read_excel('growth.xlsx')
growth = growth[growth['country_name'] != 'Malta']
growth.head(10)

    country_name    growth  oil  ...  yearsschool  rev_coups  assasinations
0          India  1.915168    0  ...         1.45   0.133333       0.866667
1      Argentina  0.617645    0  ...         4.99   0.933333       1.933333
2          Japan  4.304759    0  ...         6.71   0.000000       0.200000
3         Brazil  2.930097    0  ...         2.89   0.100000       0.100000
4  United States  1.712265    0  ...         8.66   0.000000       0.433333
5     Bangladesh  0.708263    0  ...         0.79   0.306481       0.175000
6          Spain  2.880327    0  ...         3.80   0.066667       1.433333
7       Colombia  2.227014    0  ...         2.97   0.100000       0.766667
8           Peru  0.060206    0  ...         3.02   0.266667       0.566667
9          Haiti -0.657934    0  ...         0.70   0.374074       0.200000

[10 rows x 8 columns]

## E6.2-1

In [ ]:
desc_table = growth.describe().loc[['mean', 'std', 'min', 'max'],:]
desc_table.columns = ['growth(%)', 'oil(Dummy Variable)', 'rgdp60(1960 US dollars)', 'tradeshare(%)', 'yearsschool(Average annual number of years)', 'rev_coups(Average annual number of revolutions)',
       'assasinations(Average annual number of political assassinations)']
desc_table.index = ['mean', 'std(no unit)', 'min', 'max']
desc_table.transpose()

                                                           mean  ...          max
growth(%)                                              1.869120  ...     7.156855
oil(Dummy Variable)                                    0.000000  ...     0.000000
rgdp60(1960 US dollars)                             3130.812534  ...  9895.003906
tradeshare(%)                                          0.542392  ...     1.127937
yearsschool(Average annual number of years)            3.959219  ...    10.070000
rev_coups(Average annual number of revolutions)        0.170067  ...     0.970370
assasinations(Average annual number of politica...     0.281901  ...     2.466667

[7 rows x 4 columns]

## E6.2-2

In [ ]:
formula= 'growth~tradeshare+yearsschool+rev_coups+assasinations+rgdp60'
reg_6_2 = smf.ols(formula=formula, data=growth)
result_6_2 = reg_6_2.fit(cov_type='HC1', use_t=True)
print(result_6_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 growth   R-squared:                       0.291
Model:                            OLS   Adj. R-squared:                  0.230
Method:                 Least Squares   F-statistic:                     7.001
Date:                Thu, 16 Sep 2021   Prob (F-statistic):           3.54e-05
Time:                        01:12:38   Log-Likelihood:                -117.49
No. Observations:                  64   AIC:                             247.0
Df Residuals:                      58   BIC:                             259.9
Df Model:                           5
Covariance Type:                  HC1
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.6269      0.869      0.721      0.474      -1.113       2.367
tradeshare        1.3408      0.882      1.520      0.134      -0.425       3.106
yearsschool       0.5642      0.129      4.357      0.000       0.305       0.823
rev_coups        -2.1504      0.875     -2.459      0.017      -3.901      -0.400
assasinations     0.3226      0.380      0.848      0.400      -0.439       1.084
rgdp60           -0.0005      0.000     -3.797      0.000      -0.001      -0.000
==============================================================================
Omnibus:                        7.569   Durbin-Watson:                   2.130
Prob(Omnibus):                  0.023   Jarque-Bera (JB):                8.597
Skew:                           0.494   Prob(JB):                       0.0136
Kurtosis:                       4.499   Cond. No.                     2.59e+04
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 2.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

The value of the coefficient on *Rev_Coups* is $-2.15$

若政變次數增加 $1$次，平均而言，平均年GDP成長率將下降 $2.15$ 個百分點。

2020年台灣GDP成長率 $3.11\%$, so it is large in a real-world sense.

## E6.2-3

In [ ]:
x_mean = growth.mean()[[3,4,5,6,2]]
result_6_2.predict(exog=x_mean)

The average annual growth rate is $1.87\%$

## E6.2-4

In [ ]:
addition = np.array([growth.std()['tradeshare'], 0, 0, 0, 0])
result_6_2.predict(exog=x_mean+addition)

The average annual growth rate is $2.175\%$

## E6.2-5

由於 *Oil* 資料皆為 0 ，

若放入迴歸式，將與常數項產生共線性問題，

導致估計出現偏誤。